// 引入所有样式
// @use 'element-plus/theme-chalk/src/index.scss';
@import "element-plus/theme-chalk/src/index.scss";
:root {
  --el-font-weight-primary: 400;
}

.el-menu {
  border-right: none !important;

  .el-menu--horizontal {
    border-bottom: none;
  }
}

.router-link-active {
  > li {
    background-color: $color-primary-light-9;
    border-right: 3px solid;
    color: $color-primary;

    &:hover {
      background-color: $color-primary-light-9 !important;
    }
  }
}

.ls-scrollbar.el-scrollbar {
  border-radius: 8px;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.el-card {
  border: none;
}

.el-table {
  font-size: var(--el-font-size-base);
  thead th {
    font-weight: 400;
  }
}

.el-icon {
  font-size: var(--font-size);
}

.el-alert--primary {
  color: $color-primary;
  background-color: $color-primary-light-7;
}

// ----------------------------------------------

.el-select:hover:not(.el-select--disabled) .el-input__wrapper {
  box-shadow: none;
  background-color: $background-color-base;
}

.el-select__popper.el-popper {
  max-width: $select-max-width;
}

.el-select-dropdown__wrap {
  max-width: $select-max-width;
  .el-select-dropdown__item {
    margin: 3px 6px;
    border-radius: 4px;
    &.selected {
      background-color: $color-primary-light-9;
    }
  }
}

// .el-popper__arrow {
//   display: none;
// }

.el-popper.is-dark {
  max-width: 210px;
}

.el-button {
  min-width: 80px;
  height: 32px;
}

.el-color-picker__trigger {
  height: 24px;
  width: 24px;
}

.el-tag {
  margin-right: 5px;
  height: auto;
  background-color: transparent;
  border: none;
  color: #545860;

  .el-tag__close {
    color: #545860;

    &:hover {
      background-color: $color-primary-light-9;
    }
  }
}

// switch样式调整
.el-switch.is-checked .el-switch__core .el-switch__action {
  margin-left: calc(-1px - 15px);
}

.el-switch__core .el-switch__action {
  top: 0;
}

.el-switch__core {
  width: 32px;
  height: 18px;
}

//全局多选框颜色修改
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: $color-secondary;
  background-color: #fff;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #26292e;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $color-secondary;
}

.el-checkbox__input {
  height: 20px;
}
.el-checkbox__inner {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  &:hover {
    border-color: $color-secondary;
  }

  &::after {
    border: 3px solid $color-secondary;
    border-width: 0 3px 3px 0;
    height: 10px;
    left: 6px;
  }
  &::before {
    height: 0;
    border: 3px solid $color-secondary;
    border-width: 0px 0 6px 0px;
  }
}

// 弹窗样式
.el-dialog {
  --el-dialog-margin-top: 10vh;
  --el-dialog-width: 800px;
  // min-width: 800px !important;
  border-radius: 6px;

  .el-dialog__header {
    padding: 24px 30px;
    .el-dialog__title {
      font-size: 18px;
      font-weight: bold;
      color: #26292e;
    }
  }
  .el-dialog__body {
    padding: 15px 30px 30px;
    background: #fff;
  }
  .el-dialog__footer {
    padding: 18px 30px 16px;

    .dialog-footer {
      display: block;
      overflow: hidden;
      > button {
        float: left;
      }
    }
  }
}

.el-form-item {
  flex-direction: column;

  .el-form-item__label-wrap {
    margin-left: 0 !important;
  }
}

.el-range-editor.el-input__wrapper {
  width: 256px;
}

.el-picker-panel__sidebar {
  padding: 10px;

  .el-picker-panel__shortcut {
    // border: 1px solid;
    border-radius: 3px;
    margin: 5px 0;
    text-align: center;
    padding-left: 0;

    &:hover {
      background-color: #f6f7f9;
      color: #26292e;
    }
  }
}

.el-notification {
  background-color: $color-primary-light-9;
}

// 分页样式
.el-pagination {
  &.paging {
    .el-pagination__sizes {
      margin-right: 0px;

      .el-input__wrapper {
        box-shadow: none;
      }
    }

    .el-pager li {
      border-radius: 4px;
      background: #ffffff;
      border: 1px solid $border-color-base;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      &.is-active {
        background: $color-primary;
        color: #fff;
        border: 1px solid $color-primary;
      }
    }
    .el-pager li.active + li {
      border-left: 1px solid $border-color-base;
    }
    .el-pagination__jump {
      display: none;
    }
  }
}

.el-select-dropdown > .el-scrollbar {
  width: $select-max-width;
}
