/**
全局样式
 */

// 初始化默认样式
@import "reset";
// 公共样式
@import "common";
// element样式
@import "element";
// 动画
@import "transition";

//scroll
@mixin main-show-wh() {
  /* css 声明 */
  height: calc(100vh - #{var($navbar-height)} - #{var(--tag-view-height)} - #{calc(var($app-main-padding) * 2)});
  width: 100%;
}
.scroll-y {
  @include main-show-wh();
  overflow-y: auto;
}
.scroll-x {
  @include main-show-wh();
  overflow-x: auto;
}
.scroll-xy {
  @include main-show-wh();
  overflow: auto;
}

// 调整滚动条样式
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-style: dashed;
  background-color: transparent;
  border-color: transparent;
  border-width: 1.5px;
  background-clip: padding-box;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
  height: 12px;
}

:hover {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(157, 165, 183, 0.4);
  }
}

//页面样式
.common-page-container {
  background-color: $color-white;
  box-shadow: $navbar-box-shadow;
  padding: $app-main-padding;
  top: $layout-header-height;
  border-radius: 8px;
  overflow-y: scroll;
  height: calc(100vh - $layout-header-height - 40px);
  padding: 12px;
}

//页头
.common-page-head {
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  line-height: $navbar-height;

  .common-page-title {
    font-size: 22px;
    font-weight: bold;
    color: $color-text-primary;
  }
}

//页面主体
.common-page-body {
  min-height: calc(100vh - 175px);
  background-color: $color-white;
  border-radius: 4px;
}

// 全局抽屉样式统一修改
.common-drawer-container {
  .el-drawer__header {
    color: $color-white;
    font-size: 22px;
    height: $navbar-height;
    font-weight: normal;
    line-height: $navbar-height;
    border-bottom: 1px solid #f1f1f1;
    background: linear-gradient(
      96deg,
      $color-secondary 0%,
      $color-secondary-light-3 51%,
      $color-secondary-light-3 100%
    );
    padding: 0 20px;
    margin-bottom: 16px;
  }

  //抽屉内容
  .common-drawer-body {
    overflow: auto;
    height: calc(100vh - 160px);
  }

  //抽屉底部
  .common-drawer-footer {
    // text-align: right;
    padding-top: 16px;
  }
}
