//Sidebar
$sidebar-width: 210px;
$sidebar-icon-size: 20px;
$sidebar-logo-background: #35404f;
$sidebar-logo-color: #ff9901;
$sidebar-logo-width: 32px;
$sidebar-logo-hight: 32px;

//AppMain.vue
$app-main-padding: 10px;

//Navbar.vue
$navbar-height: 56px;
$navbar-background: #35404f;
$navbar-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

// Select
$select-max-width: 210px;

// diabeld
$diabeld-color: #dbdee4;
$diabeld-border-color: #ffb800;

/* Color 
-------------------------- */
// $color-primary: #4a5dff;#00a39b  #05b44b;
$color-primary: #4a5dff;
$color-secondary: #00a39b;
//$color-secondary: #00a39b;
$color-success: #67c23a;
$color-warning: #fb9400;
$color-danger: #f56c6c;
$color-error: #db2828;
$color-info: #909399;
$color-white: #ffffff;
$color-black: #333333;

$color-primary-light-1: mix($color-white, $color-primary, 10%);
$color-primary-light-2: mix($color-white, $color-primary, 20%);
$color-primary-light-3: mix($color-white, $color-primary, 30%);
$color-primary-light-4: mix($color-white, $color-primary, 40%);
$color-primary-light-5: mix($color-white, $color-primary, 50%);
$color-primary-light-6: mix($color-white, $color-primary, 60%);
$color-primary-light-7: mix($color-white, $color-primary, 70%);
$color-primary-light-8: mix($color-white, $color-primary, 80%);
$color-primary-light-9: mix($color-white, $color-primary, 90%);

$color-secondary-light-1: mix($color-white, $color-secondary, 10%);
$color-secondary-light-2: mix($color-white, $color-secondary, 20%);
$color-secondary-light-3: mix($color-white, $color-secondary, 30%);
$color-secondary-light-4: mix($color-white, $color-secondary, 40%);
$color-secondary-light-5: mix($color-white, $color-secondary, 50%);
$color-secondary-light-6: mix($color-white, $color-secondary, 60%);
$color-secondary-light-7: mix($color-white, $color-secondary, 70%);
$color-secondary-light-8: mix($color-white, $color-secondary, 80%);
$color-secondary-light-9: mix($color-white, $color-secondary, 90%);

/* Font
-------------------------- */

$color-text-primary: #333333;
$color-text-regular: #666666;
$color-text-secondary: #999999;
$color-text-placeholder: #999999;
$font-size-xl: 17px;
$font-size-lg: 16px;
$font-size-md: 15px;
$font-size-nr: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;
$font-size-base: $font-size-sm;

/* Background
-------------------------- */
$background-color-base: #f6f6f6;

/* Border
-------------------------- */
// #e5e5e5
$border-color-base: #dcdfe6;
$border-color-light: #f2f2f2;
$border-width-base: 1px;
$border-style-base: solid;
$border-color-hover: $color-primary;
$border-base: $border-width-base $border-style-base $border-color-base;

/* Layout
-------------------------- */
$layout-min-width: 1200px;
$layout-aside-width: 210px;
$layout-header-height: 58px;
$layout-header-bg-color: #2a2c41;

$colors: (
  "primary": (
    "base": $color-primary
  ),
  "success": (
    "base": $color-success
  ),
  "warning": (
    "base": $color-warning
  ),
  "danger": (
    "base": $color-danger
  ),
  "error": (
    "base": $color-error
  ),
  "info": (
    "base": $color-info
  )
);

$switch: (
  "on-color": $color-secondary
);

$text-color: (
  "primary": $color-text-primary,
  "regular": $color-text-regular,
  "secondary": $color-text-secondary,
  "placeholder": $color-text-placeholder
);

$border-color: (
  "base": $border-color-base,
  "light": $border-color-light,
  "lighter": $border-color-light,
  "extra-light": $border-color-light
);

$font-size: (
  "extra-large": $font-size-xl,
  "large": $font-size-lg,
  "medium": $font-size-md,
  "base": $font-size-base,
  "small": $font-size-sm,
  "extra-small": $font-size-xs
);

$button-font-size: (
  "default": $font-size-base,
  "medium": $font-size-base,
  "small": $font-size-base,
  "mini": $font-size-sm
);

$button-padding-vertical: (
  "default": 12px,
  "medium": 10px,
  "small": 8px,
  "mini": 6px
);

$button-padding-horizontal: (
  "default": 25px,
  "medium": 25px,
  "small": 20px,
  "mini": 15px
);

$table: (
  "text-color": $color-text-primary,
  "header-text-color": $color-text-primary,
  // "header-bg-color": rgba($color-primary, 0.05)
  "header-bg-color": mix($color-white, $color-primary-light-9, 30%)
);

$menu: (
  "text-color": $color-text-primary,
  "hover-text-color": $color-text-primary,
  "bg-color": $color-white,
  "hover-bg-color": $background-color-base,
  "active-color": $color-primary
);

// 替换elementui的变量
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $colors,
  $text-color: $text-color,
  $border-color: $border-color,
  $font-size: $font-size,
  $button-font-size: $button-font-size,
  $button-padding-vertical: $button-padding-vertical,
  $table: $table,
  $menu: $menu,
  $switch: $switch
);
